@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #333; /* Change the arrow color to black */
  width: 22px;
  height: 22px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  margin-top: -22px;
  color: black;
}

/* Optional: customize hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #333;
  font-size: 12px;
}
